extends ../layouts/default.pug

block vars
    - var title = "Главная страница";
    - var keywords = "Ключевые, слова, страницы";
    - var description = "Seo описание страницы";
    - var classNamePage = "home";

block content
    .container-fluid
        .row
            .col-xl-2 stgps