include ../../project.config.pug
include ../components/components.pug

block vars
    -
        var language = "ru";
        var title = title || '';
        var keywords = keywords || '';
        var description = description || '';

doctype
html(lang=language?language:"ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="Keywords", content=keywords)
        meta(name="description", content=description)
        title= title
        link(rel="stylesheet", href="/assets/css/vendor.min.css")
        link(rel="stylesheet", href="/assets/css/style.min.css")
        block style
    body
        .app(class=classNamePage ? classNamePage : '')
            block content

        script(type="text/javascript", src="/assets/js/vendor.min.js")
        script(type="text/javascript", src="/assets/js/script.min.js")
        block script